  <article>
    <h3>See Reviews</h3>
    <% @product.reviews.reverse.each do |review| %>
      <div class="well">
      <% if review.user_id %>
        <% @user = User.find(review.user_id) %>
          <p><strong>User Name:</strong> <%=@user.first_name%></p>
      <% end %>
  
        <p><strong>Description:</strong> <%=review.description%></p>
        <p><strong>Rating: <%=review.rating%>/5</strong></p>
        <% if current_user.id == review.user_id%>
          <%= link_to 'Delete', [review.product, review],
            method: :delete,
            data: {confirm: 'Are you sure?'},
            :class => 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </article>