  
  <article>
    <h3>See Reviews</h3>
    <% @product.reviews.reverse.each do |review| %>
      <div class="well">
        <p><%=review.description%></p>
        <p><strong><%=review.rating%></strong></p>
        <p>By: <%=review.user_id%></p>
        <% if current_user.id == review.user_id%>
          <%= link_to 'Delete', [review.product, review],
            method: :delete,
            data: {confirm: 'Are you sure?'},
            :class => 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  </article>